<div class="navbar">
    <div class="container">
        <a href="{{ path('index') }}" class="logo">Manala recipes</a>
        <nav>
            <ul>
                <li><a href="{{ github_url }}">Github</a></li>
                <li>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="{{ path('index') }}">Recipes</a>
                        <div class="dropdown-menu">
                            {% for recipe in content_list('App\\Model\\Recipe') %}
                                <a class="dropdown-item" href="{{ path('recipes_show', {
                                    recipe: recipe.slug
                                }) }}">{{ recipe.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
