<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <!-- Enable responsiveness on mobile devices-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

        <title>{% block title %}Manala Recipes{% endblock %}</title>

        {% block stylesheets %}
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Sacramento|Inconsolata:400,700' rel='stylesheet' type='text/css'>
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <header class="header">
            {% include '/partials/nav.html.twig' %}

            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="manala">
                            <div class="circle circle-1"></div>
                            <div class="circle circle-2"></div>
                            <div class="circle circle-3"></div>
                            <div class="circle circle-4"></div>
                            <div class="circle circle-5"></div>
                            <div class="circle circle-6"></div>
                            <img src="{{ asset('build/images/arms.svg') }}" class="arms" alt="Manala">
                            <img src="{{ asset('build/images/manala.svg') }}" class="head" alt="Manala">
                        </div>
                    </div>
                    <div class="lead col-sm-8">
                        <p>Recipes for your projects</p>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 no-pb">
                        <a href="https://manala.io" class="manala"><img src="{{ asset('build/images/manala.svg') }}" width="56" height="56" title="Manala.io" alt="Manala.io"> Manala.io</a>
                    </div>
                    <div class="col-sm-4 no-pb github text-center">
                        <a href="{{ github_url }}" target="_blank"><img src="{{ asset('build/images/github.svg') }}" width="32" height="32" title="Manala on Github" alt="Manala recipes on Github"></a>
                    </div>
                    <div class="col-sm-4 no-pb elao">
                        Made with love by <a href="https://www.elao.com" target="_blank"><img src="{{ asset('build/images/elao.svg') }}" width="64" height="23" title="élao" alt="élao"></a>
                        <small>(and <a target="_blank" href="https://www.rix.fr/"><strong>Rix</strong></a> !)</small>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
