{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ page.title }}
{% endblock %}

{% block content %}
    <section>
        <article>
            {{ page.content|raw }}

            <ul>
                {% for recipe in content_list('App\\Model\\Recipe') %}
                    <li>
                        <a href="{{ path('recipes_show', {
                            recipe: recipe.slug,
                        }) }}">{{ recipe.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </article>
    </section>

    <time datetime="{{ page.lastModified|date('Y-m-d\TH:i:sP') }}">Last modified: {{ page.lastModified|date }}</time>
{% endblock %}
