{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ recipe.title }}
{% endblock %}

{% block content %}
    <section>
        <article>
            {{ recipe.content|raw }}
        </article>
    </section>

    <time datetime="{{ recipe.lastModified|date('Y-m-d\TH:i:sP') }}">Last modified: {{ recipe.lastModified|date }}</time>
{% endblock %}
