{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ recipe.title }}
{% endblock %}

{% block content %}
    <h1>{{ recipe.title }}</h1>

    {% if recipe.tableOfContent|length > 1 %}
        <ul>
            {% for headline in recipe.tableOfContent %}
                <li>
                    <a href="#{{ headline.id }}">{{ headline.content }}</a>
                    {% if headline.children is not empty %}
                        <ul class="sub-list">
                            {% for child in headline.children %}
                                <li><a href="#{{ child.id }}">{{ child.content }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if migrations is not empty %}
    <section>
        <header><h2>Migrations</h2></header>
        <article>
            If you're coming from a previous version of the recipe or another recipe, you might be interested reading the following migration guides:

            <ul>
                {% for migration in migrations %}
                <li>
                    <a href="{{ path('migrations_show', { migration: migration.slug }) }}">
                        {{ migration.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </article>
    </section>
    {% endif %}

    <section>
        <article>
            {{ recipe.content|raw }}
        </article>
    </section>

    <time datetime="{{ recipe.lastModified|date('Y-m-d\TH:i:sP') }}">Last modified: {{ recipe.lastModified|date }}</time>
{% endblock %}
