{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ migration.title }} ({{ recipe.title }})
{% endblock %}

{% block content %}
    <h1>{{ migration.title }} ({{ recipe.title }})</h1>

    {% if migration.tableOfContent|length > 1 %}
        <ul>
            {% for headline in migration.tableOfContent %}
                <li>
                    <a href="#{{ headline.id }}">{{ headline.content }}</a>
                    {% if headline.children is not empty %}
                        <ul class="sub-list">
                            {% for child in headline.children %}
                                <li><a href="#{{ child.id }}">{{ child.content }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <section>
        <article>
            {{ migration.content|raw }}
        </article>
    </section>

    <time datetime="{{ migration.lastModified|date('Y-m-d\TH:i:sP') }}">Last modified: {{ migration.lastModified|date }}</time>
{% endblock %}
